@import '../styles/colors.css';

.about-page {
    padding: 16rem 8rem;
    background-color: var(--white);
  }

.about-page .info-section {
    margin-bottom: 8rem; /* or 3rem, adjust as needed */
}

/* Responsive padding for mobile */
@media screen and (max-width: 768px) {
  .about-page{
    padding: 10rem 5rem !important;
  }
}

/* Even smaller padding for very small screens */
@media screen and (max-width: 480px) {
  .about-page {
    padding: 10rem 1rem !important;
  }
}

