.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #14477C, #011941);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.logo-img {
  height: 100px;
  width: auto;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
}

.nav-links a:hover {
  text-decoration: underline;
}

.background-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.background-text,
.background-text2 {
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  user-select: none;
  transform: rotate(-20deg);
  letter-spacing: 0.03em;
}

.background-text {
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-20deg);
}

.background-text2 {
  top: 40%;
  left: 10%;
  transform: translate(0%, -40%) rotate(-20deg);
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .nav-links li {
    margin: 0.5rem 0;
  }

}

