@import '../../styles/colors.css';

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  min-height: 400px;
  padding: 0 10% 0 10%;
  gap: 3rem;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-logo {
  width: 100%;
  max-height: 180px;
  object-fit: contain;
  display: block;
}

/* Size variations */
.logo-size-large {
  flex: 1 1 450px;
}


.logo-size-medium {
  flex: 1 1 350px;
}


.logo-size-small {
  flex: 1 1 250px;
}



/* Responsive design */
@media (max-width: 768px) {
  .logo-grid {
    gap: 1rem;
    padding: 1rem;
  }
  
  .logo-size-large {
    flex: 0 1 250px;
  }
  
  .logo-size-medium {
    flex: 0 1 180px;
  }
  
  .logo-size-small {
    flex: 0 1 140px;
  }
}

