@font-face {
    font-family: 'Brick';
    src: url('/fonts/Brick.otf') format('opentype');
}

@font-face {
    font-family: 'Made-Soulmaze';
    src: url('/fonts/MADE-Soulmaze.otf') format('opentype');
}

@font-face {
    font-family: 'RenogareSoft-Regular';
    src: url('/fonts/RenogareSoft-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura-Heavy';
    src: url('/fonts/futura-heavy-font.ttf') format('truetype');
}

@font-face {
    font-family: 'Futura-Medium';
    src: url('/fonts/futura-medium-bt.ttf') format('truetype');
}